<div *ngIf="plainFieldData">

    <div *ngFor="let fieldData of plainFieldData">

        <div [ngSwitch]="fieldData.subType" [ngClass]="getCustomClassName(fieldData)">
            <div *ngSwitchCase="'separator'">
                <hr />
            </div>
            <div *ngSwitchCase="'route'" [ngClass]="getCustomClassNameForSubType(fieldData)">
                <a [routerLink]="[fieldData.routerLink]" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
          {{fieldData.text}}
        </a>
            </div>

            <div *ngSwitchCase="'action'" [ngClass]="getCustomClassNameForSubType(fieldData)">

                <div class="action-content" (click)="performActionFromBtn(fieldData.actionInfo)">

                    <a class="actionLink" style="color: #fff !important;">

            {{fieldData.text}}
          </a>
                </div>
            </div>
            <div *ngSwitchCase="'heading'" [ngClass]="getCustomClassNameForSubType(fieldData)">
                <h3> {{fieldData.text}}</h3>
            </div>
            <div *ngSwitchDefault [ngClass]="getCustomClassNameForSubType(fieldData)">
                {{fieldData.text}}
            </div>
        </div>
    </div>
</div>