<section class="pick-event padding-30-topbottom">
    <div class="container">
        <div class="heading">
            <h2>Search Tournaments</h2>
        </div>
        <div class="form">
            <div class="cover">
                <input type="text">
                <i class="fa fa-search"></i>
            </div>
            <div class="cover">
                <input type="text">
                <i class="fa fa-calendar"></i>
            </div>
            <div class="cover">
                <div class="dropdown">
                    <button aria-expanded="true" data-toggle="dropdown" id="dropdownMenu1" type="button" class="dropdown-toggle">
                Dropdown
                <i class="fa fa-bars"></i>
                </button>
                    <ul aria-labelledby="dropdownMenu1" role="menu" class="dropdown-menu">
                        <li role="presentation"><a href="#" tabindex="-1" role="menuitem">Action</a></li>
                        <li role="presentation"><a href="#" tabindex="-1" role="menuitem">Another action</a></li>
                        <li role="presentation"><a href="#" tabindex="-1" role="menuitem">Something else here</a></li>
                        <li role="presentation"><a href="#" tabindex="-1" role="menuitem">Separated link</a></li>
                    </ul>
                </div>
            </div>
            <div class="cover">
                <a class="kode-modren-btn thbg-colortwo">Find Event</a>
            </div>
        </div>
    </div>
</section>