<ng-container *ngIf="isGlobalSettingRecieved()">
    <div class="app-parent" id="gsa-app" dir="ltr">
        <!--// Wrapper //-->
        <div class="kode-wrapper">
            <!-- // Header // -->
            <header id="mainheader" class="kode-header-absolute">
                <!--// TopBaar //-->
                <app-topbar></app-topbar>
                <app-header></app-header>
                <!-- // Header // -->
            </header>
            <!--// Mini-Web-Header //-->
            <app-mini-web-header></app-mini-web-header>
            <app-footer></app-footer>
        </div>
        <!--// Wrapper //-->
    </div>
</ng-container>