@charset "utf-8";
/* CSS Document tblBracketTeamScore */


/*# {page-break-after:always}*/
@media print {
    .page-break {
        display: block;
        page-break-after: always
    }
}

.tblBracketTeamScore,
.tblBracketTeams,
.tblBracketOrderOfFinish {
    color: #0F31FE;
}

.tblBracketTeamScore #thFirstHeading_BracketTeamScore {
    -webkit-border: 1px solid #000;
    -moz-border: 1px solid #000;
    -ms-border: 1px solid #000;
    border: 1px solid #000;
    width: 4%;
}

.tblBracketTeamScore #thSameHeading_BracketTeamScore {
    -webkit-border-bottom: 1px solid #000;
    -webkit-border-right: 1px solid #000;
    -webkit-border-top: 1px solid #000;
    -moz-border-bottom: 1px solid #000;
    -moz-border-right: 1px solid #000;
    -moz-border-top: 1px solid #000;
    -ms-border-bottom: 1px solid #000;
    -ms-border-right: 1px solid #000;
    -ms-border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
    border-top: 1px solid #000;
    font-size: 13px;
}

.tblBracketTeamScore #thLastHeading_BracketTeamScore {
    -webkit-border-bottom: 1px solid #000;
    -webkit-border-right: 1px solid #000;
    -webkit-border-top: 1px solid #000;
    -moz-border-bottom: 1px solid #000;
    -moz-border-right: 1px solid #000;
    -moz-border-top: 1px solid #000;
    -ms-border-bottom: 1px solid #000;
    -ms-border-right: 1px solid #000;
    -ms-border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
    border-top: 1px solid #000;
    font-size: 13px;
}

.tblBracketTeamScore #tdFirstValue_BracketTeamScore {
    -webkit-border-bottom: 1px solid #000;
    -webkit-border-right: 1px solid #000;
    -webkit-border-left: 1px solid #000;
    -moz-border-bottom: 1px solid #000;
    -moz-border-right: 1px solid #000;
    -moz-border-left: 1px solid #000;
    -ms-border-bottom: 1px solid #000;
    -ms-border-right: 1px solid #000;
    -ms-border-left: 1px solid #000;
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
    border-left: 1px solid #000;
    font-size: 13px;
}

.tblBracketTeamScore #tdSameValue_BracketTeamScore {
    -webkit-border-bottom: 1px solid #000;
    -webkit-border-right: 1px solid #000;
    -moz-border-bottom: 1px solid #000;
    -moz-border-right: 1px solid #000;
    -ms-border-bottom: 1px solid #000;
    -ms-border-right: 1px solid #000;
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
    font-size: 13px;
}

.tblBracketTeamScore #tdLastValue_BracketTeamScore {
    -webkit-border-bottom: 1px solid #000;
    -webkit-border-right: 1px solid #000;
    -moz-border-bottom: 1px solid #000;
    -moz-border-right: 1px solid #000;
    -ms-border-bottom: 1px solid #000;
    -ms-border-right: 1px solid #000;
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
    font-size: 13px;
}

.tblBracketTeams #thHeading_BracketTeams,
#tdValue_BracketTeams,
#tdBlank_BracketTeams {
    -webkit-border-bottom: 1px solid #000;
    -webkit-border-right: 1px solid #000;
    -webkit-border-left: 1px solid #000;
    -moz-border-bottom: 1px solid #000;
    -moz-border-right: 1px solid #000;
    -moz-border-left: 1px solid #000;
    -ms-border-bottom: 1px solid #000;
    -ms-border-right: 1px solid #000;
    -ms-border-left: 1px solid #000;
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
    border-left: 1px solid #000;
    font-size: 13px;
}

#thHeading_BracketTeams,
#thHeading_BracketOrderOfFinish {
    -webkit-border-top: 1px solid #000;
    -moz-border-top: 1px solid #000;
    -ms-border-top: 1px solid #000;
    border-top: 1px solid #000;
    font-size: 13px;
}

.tblBracketTeams #tdBlank_BracketTeams {
    -webkit-border-bottom: 1px solid #000;
    -webkit-border-right: 1px solid #000;
    -moz-border-bottom: 1px solid #000;
    -moz-border-right: 1px solid #000;
    -ms-border-bottom: 1px solid #000;
    -ms-border-right: 1px solid #000;
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
}

.tblBracketTeams #tdSNoValue_BracketTeams {
    -webkit-border-bottom: 1px solid #000;
    -webkit-border-right: 1px solid #000;
    -moz-border-bottom: 1px solid #000;
    -moz-border-right: 1px solid #000;
    -ms-border-bottom: 1px solid #000;
    -ms-border-right: 1px solid #000;
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
    font-size: 13px;
}

.tblBracketOrderOfFinish #thHeading_BracketOrderOfFinish {
    -webkit-border-bottom: 1px solid #000;
    -webkit-border-right: 1px solid #000;
    -moz-border-bottom: 1px solid #000;
    -moz-border-right: 1px solid #000;
    -ms-border-bottom: 1px solid #000;
    -ms-border-right: 1px solid #000;
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
    font-size: 13px;
}

.tblBracketOrderOfFinish #tdValue_BracketOrderOfFinish {
    -webkit-border-bottom: 1px solid #000;
    -webkit-border-right: 1px solid #000;
    -moz-border-bottom: 1px solid #000;
    -moz-border-right: 1px solid #000;
    -ms-border-bottom: 1px solid #000;
    -ms-border-right: 1px solid #000;
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
    font-size: 13px;
}

.tblBracketOrderOfFinish #tdTotal_BracketOrderOfFinish {
    -webkit-border-bottom: 1px solid #000;
    -webkit-border-right: 1px solid #000;
    -moz-border-bottom: 1px solid #000;
    -moz-border-right: 1px solid #000;
    -ms-border-bottom: 1px solid #000;
    -ms-border-right: 1px solid #000;
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
    font-size: 13px;
}

#trHeading_BracketTeams,
#trHeading_BracketOrderOfFinish,
#trBlank_BracketTeams,
#trTotal_BracketOrderOfFinish {
    -webkit-background-color: #00e7ff;
    -moz-background-color: #00e7ff;
    -ms-background-color: #00e7ff;
    background-color: #00e7ff;
}

#AddInfo span p {
    margin: 0px;
    padding: 0px;
}

.div_bracket_print {
    margin: 0px 0px 10px 0px;
}

.bracket-action-container {
    display: flex;
    align-items: flex-end;
    flex-direction: row-reverse;

    .bracket-actions {
        padding: 9px 18px;
        margin: 20px;
        text-decoration: none;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12px;
        font-weight: bold;
        text-align: center;
        background: #6abe18;
        background: -moz-linear-gradient(top, #cbe951, #9dd254 5%, #5eac11);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #cbe951), color-stop(.03, #9dd254), to(#5eac11));
        filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#9dd254', EndColorStr='#5eac11');
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#9dd254', EndColorStr='#5eac11')";
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: 5px;
        border: 1px solid #53a40c;
        border-bottom: 1px solid #468f0a;
        color: #FFF;
		text-shadow: 0 1px 1px #316903;
		cursor: pointer;
		&:hover {
			background: #222;
			border-color: #000;
		}
    }
    .bracket-unhide-action{
		background: red !important;
		color: #fff !important;
	}
   
}