<ng-container *ngIf="tournamentData">

  <div class="trnmnt_dtls">
    <img alt="GSA Teams" src="./assets/logos/app-logo.png">
    <h2>{{tournamentData.tournament_title}}</h2>
    <div class="set">{{tournamentData.start_date}} - {{tournamentData.end_date}}</div>
    <ng-container *ngIf="tournamentData.numberofgames!=0">
      <div class="set">{{tournamentData.numberofgames}} Game Guarantee </div>
    </ng-container>

    <div class="trnmnt_dtls_cells">
      <div>
        <a href="">{{tournamentData.director}}</a>
      </div>
      <div> {{tournamentData.primary}} </div>
      <div>
        <a href="mailto:{{tournamentData.email}}">{{tournamentData.email}}</a>
      </div>
    </div>
    <div class="trnmnt_title">
      <a href="">
        <!-- <span id="title1" style="border:none; ">CLICK HERE TO REGISTER FOR THIS TOURNAMENT</span> -->
      </a></div>
  </div>

</ng-container>
<div class="">
  <a href="" class="btn_gsacolor">Schedules/Brackets</a>
  <a href="" class="btn_gsacolor">Register For This Tournament</a>
  <a href="" class="btn_gsacolor">Teams So Far</a>
  <a href="" class="btn_gsacolor">Parks</a>
  <a href="" class="btn_gsacolor">Pay Tournament Fees</a>
  <!-- <a href="index.php?option=com_community&view=miniweb&task=paysanction&Itemid=214" class="btn_gsacolor">Pay Sanction Fee</a> -->
  <a href="" class="btn_gsacolor">View Sanction Numbers</a>
  <a href="" class="btn_gsacolor">View Past Tournament results for this Director</a>
</div>
<div class="tecdus_desc">
  <h2>Tournament Cost</h2>
  <p>If the Director requires a reservation fee only it will be deducted from the total tournament cost.
    If the tournament does not make you will be refunded.
    If the tournament does make and your team drops out after the schedule is posted you will lose the reservation fee.
  </p>
</div>
<div>
  <app-widget-loader [widget]="widgets['FEES']" parameters="prepareAndGetTournamentParams()"></app-widget-loader>
</div>
<div class="tecdus_desc">
  <h2>Tournament Details</h2>
  <span [innerHTML]="tournamentData.description | safeHtml"></span>
</div>