<div class="kode-subheader subheader-height">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1>Team</h1>
            </div>
            <div class="col-md-6">
                <ul class="kode-breadcrumb">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Contact Us</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="kode-content">
    <section class="kode-pagesection">
        <div class="container">
            <div class="row">
                <div class="kode-pagecontent col-md-9">
                    <div class="row">
                        <div class="col-md-5">
                            <a href="#" class="kode-player-thumb"><img src="assets/extra-images/player-detail-1.jpg" alt=""></a>
                        </div>
                        <div class="col-md-7">
                            <table class="kode-table">
                                <caption>Profile</caption>
                                <tbody>
                                    <tr>
                                        <td>Born:</td>
                                        <td>February 14, 1986</td>
                                    </tr>
                                    <tr>
                                        <td>Location:</td>
                                        <td>Spain</td>
                                    </tr>
                                    <tr>
                                        <td>Squad Number:</td>
                                        <td>45</td>
                                    </tr>
                                    <tr>
                                        <td>Club:</td>
                                        <td>AC Millen</td>
                                    </tr>
                                    <tr>
                                        <td>Position:</td>
                                        <td>Defender</td>
                                    </tr>
                                    <tr>
                                        <td>Position:</td>
                                        <td>Defender</td>
                                    </tr>
                                    <tr>
                                        <td>Position:</td>
                                        <td>Defender</td>
                                    </tr>
                                    <tr>
                                        <td>Position:</td>
                                        <td>Defender</td>
                                    </tr>
                                    <tr>
                                        <td>Position:</td>
                                        <td>Defender</td>
                                    </tr>
                                    <tr>
                                        <td>Previous Club(s):</td>
                                        <td>Lille, Newcastle United</td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>