<div class="team-profile-parent" *ngIf="teamData">
  <div class="team-profile-header-wrapper">
    <div class="flex-center">
      <span class="team-profile-heading">
        {{teamData.name}}
      </span>
      <span class="state-sport-heading">
        ({{teamData.team_state}} , {{teamData.sport}})
      </span>
    </div>
    <div class="team-status-parent">
      You haven't add your team status click edit icon to add status
    </div>
  </div>
  <div class="team-profile-center">
    <img class="banner-image" [src]="getBannerImage()" alt="Team Banner" />
  </div>
  <div *ngIf="widgets">
    <mat-tab-group (selectedTabChange)="onTabChange($event)">
      <mat-tab label="About">
        <div fxLayout="row wrap" fxLayout.xs="column wrap">
          <div fxFlex="30%">
            <app-widget-loader [widget]="widgets['ABOUT']"></app-widget-loader>
          </div>
          <div fxFlex="70%">
            <app-widget-loader [widget]="widgets['TEAMROSTERFILTER']"></app-widget-loader>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Tournaments">
        <div fxLayout="row wrap" fxLayout.xs="column wrap">
          <div fxFlex="100%">
            <app-widget-loader [widget]="widgets['TEAMTOURNAMENTRESULTFILTER']"></app-widget-loader>
            <app-widget-loader [widget]="widgets['TEAMUPCOMINGTOURNAMENTS']" class="upcoming-tournaments">
            </app-widget-loader>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Gallery">
        <div fxLayout="row wrap" fxLayout.xs="column wrap">
          <div>
            <app-widget-loader [widget]="widgets['GALLERY']"></app-widget-loader>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Messages">
        <div fxLayout="row wrap" fxLayout.xs="column wrap">
          <div>
            Coming Soon!
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Admin Options" *ngIf="canUpdateTeam()">
        <div fxLayout="row wrap" fxLayout.xs="column wrap">
          <div *ngIf="adminLinks">
            <div class="action-content-header">
              <h2>Teams</h2>
            </div>
            <plain-text-input action-executor [parameterValueProvider]="getTeamRelatedParameters.bind(this)"
              [field]="adminLinks"></plain-text-input>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>