<!-- <app-sub-header></app-sub-header> -->
<div class="kode-content" *ngIf="teamData">
    <section class="kode-pagesection">
        <div class="container">
            <div class="row">
                <div class="kode-pagecontent col-md-9">

                    <div class="row">
                        <div class="col-md-5">
                            <a href="#" class="kode-player-thumb"><img [src]="getBannerImage()" alt="Team Banner" ></a>
                        </div>
                        <div class="col-md-7">



                            <table class="kode-table">
                                <caption>About Us</caption>
                                <tbody>
                                    <tr>
                                        <td>Team Name:</td>
                                        <td>{{teamData.name}}</td>
                                    </tr>
                                    <tr>
                                        <td>Coach Name:</td>
                                        <td>{{teamData.coach}}</td>
                                    </tr>
                                    <tr>
                                        <td>Sports:</td>
                                        <td>{{teamData.sport}}</td>
                                    </tr>
                                    <tr>
                                        <td>State:</td>
                                        <td>{{teamData.team_state}}</td>
                                    </tr>
                                    <tr>
                                        <td>Agegroup:</td>
                                        <td>{{teamData.agegroup}}</td>
                                    </tr>
                                    <tr>
                                        <td>Classification:</td>
                                        <td>{{teamData.classification}}</td>
                                    </tr>
                                    <tr>
                                        <td>Upcomming Tournaments:</td>
                                        <td>Defender</td>
                                    </tr>
                                    <tr>
                                        <td>Total Tournaments:</td>
                                        <td>Defender</td>
                                    </tr>
                                    <tr>
                                        <td>Recent Tournaments:</td>
                                        <td>Defender</td>
                                    </tr>
                                    <!-- <tr>
                                        <td>Previous Club(s):</td>
                                        <td>Lille, Newcastle United</td>
                                    </tr> -->
                                </tbody>
                            </table>

                        </div>
                    </div>

                    <div class="kode-detail-element">
                        <h2>{{teamData.name}}</h2>
                        <ul class="kode-team-network">
                            <li>
                                <a class="fa fa-facebook" href="#"></a>
                            </li>
                            <li>
                                <a class="fa fa-twitter" href="#"></a>
                            </li>
                            <li>
                                <a class="fa fa-linkedin" href="#"></a>
                            </li>
                        </ul>
                    </div>
                    <p>Mauris vel varius felis. Duis feugiat interdum nibh, nec consequat erat dapibus sit amet. Ut at nibh varius, dignissim magna non, interdum urna. Maecenas enean..</p>
                    <div class="team-detail-table-ap padding-bottom-30-flat">
                        <table class="kode-table">
                            <thead>
                                <tr>
                                    <th>Members</th>
                                    <th>Join</th>
                                    <th>Appearance</th>
                                    <th>Goal</th>
                                    <th>Cards Shown</th>
                                    <th>Passing Accuracy</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Prem Lge</td>
                                    <td>2014-2015</td>
                                    <td>00</td>
                                    <td>01</td>
                                    <td>06</td>
                                    <td>100%</td>
                                </tr>
                                <tr>
                                    <td>Europe Lge</td>
                                    <td>2014-2015</td>
                                    <td>00</td>
                                    <td>01</td>
                                    <td>06</td>
                                    <td>100%</td>
                                </tr>
                                <tr>
                                    <td>Fa Cup</td>
                                    <td>2014-2015</td>
                                    <td>00</td>
                                    <td>01</td>
                                    <td>06</td>
                                    <td>100%</td>
                                </tr>
                                <tr>
                                    <td>Lge Cup</td>
                                    <td>2014-2015</td>
                                    <td>00</td>
                                    <td>01</td>
                                    <td>06</td>
                                    <td>100%</td>
                                </tr>
                                <tr>
                                    <td>C. Shield</td>
                                    <td>2014-2015</td>
                                    <td>00</td>
                                    <td>01</td>
                                    <td>06</td>
                                    <td>100%</td>
                                </tr>
                                <tr>
                                    <td>Total</td>
                                    <td>2014-2015</td>
                                    <td>00</td>
                                    <td>01</td>
                                    <td>06</td>
                                    <td>100%</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur."Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa
                        quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                    <!--Team Members -->
                    <div class="kode-section-title">
                        <h2>Members</h2>
                    </div>
                    <div class="kode-gallery">
                        <ul class="row">
                            <li class="col-md-3">
                                <figure>
                                    <a href="#"><img src="assets/extra-images/player-1.jpg" alt=""></a>
                                    <figcaption><a href="#" class="kode-gallery-hover thbg-color"><i class="fa fa-plus"></i></a></figcaption>
                                </figure>

                            </li>
                            <li class="col-md-3">
                                <figure>
                                    <a href="#"><img src="assets/extra-images/player-2.jpg" alt=""></a>
                                    <figcaption><a href="#" class="kode-gallery-hover thbg-color"><i class="fa fa-plus"></i></a></figcaption>
                                </figure>

                            </li>
                            <li class="col-md-3">
                                <figure>
                                    <a href="#"><img src="assets/extra-images/player-3.jpg" alt=""></a>
                                    <figcaption><a href="#" class="kode-gallery-hover thbg-color"><i class="fa fa-plus"></i></a></figcaption>
                                </figure>

                            </li>
                            <li class="col-md-3">
                                <figure>
                                    <a href="#"><img src="assets/extra-images/player-2.jpg" alt=""></a>
                                    <figcaption><a href="#" class="kode-gallery-hover thbg-color"><i class="fa fa-plus"></i></a></figcaption>
                                </figure>

                            </li>
                            <li class="col-md-3">
                                <figure>
                                    <a href="#"><img src="assets/extra-images/player-1.jpg" alt=""></a>
                                    <figcaption><a href="#" class="kode-gallery-hover thbg-color"><i class="fa fa-plus"></i></a></figcaption>
                                </figure>

                            </li>
                            <li class="col-md-3">
                                <figure>
                                    <a href="#"><img src="assets/extra-images/player-2.jpg" alt=""></a>
                                    <figcaption><a href="#" class="kode-gallery-hover thbg-color"><i class="fa fa-plus"></i></a></figcaption>
                                </figure>

                            </li>
                            <li class="col-md-3">
                                <figure>
                                    <a href="#"><img src="assets/extra-images/player-2.jpg" alt=""></a>
                                    <figcaption><a href="#" class="kode-gallery-hover thbg-color"><i class="fa fa-plus"></i></a></figcaption>
                                </figure>

                            </li>
                            <li class="col-md-3">
                                <figure>
                                    <a href="#"><img src="assets/extra-images/player-2.jpg" alt=""></a>
                                    <figcaption><a href="#" class="kode-gallery-hover thbg-color"><i class="fa fa-plus"></i></a></figcaption>
                                </figure>

                            </li>
                        </ul>
                    </div>
                    <div class="kode-editor">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur."Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque
                            ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                        <blockquote>Nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.Ut enim ad minima veniam, quis nostrum exercitationem
                        </blockquote>
                        <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur,
                            adipisci velit, sed quia non numquam eius modification..</p>
                    </div>
                </div>
                <app-side-bar></app-side-bar>
            </div>