.dash-home {
    height: 100%;
    font-family: roboto, sans-serif;
    font-weight: 400;
    background: #152036;
    display: inline-flex;
}

.floatleft {
    float: left
}

.floatright {
    float: right
}

.alignleft {
    float: left;
    margin-right: 15px;
    margin-bottom: 15px
}

.alignright {
    float: right;
    margin-left: 15px;
    margin-bottom: 15px
}

.aligncenter {
    display: block;
    margin: 0 auto 15px
}

a:focus {
    outline: 0 solid
}

img {
    max-width: 100%;
    height: auto
}

.mg-t-159 {
    margin: 159px 0;
    display: flex;
}

.mg-tb-30 {
    margin: 30px 0
}

.mg-b-30 {
    margin-bottom: 30px
}

.mg-tb-15 {
    margin: 15px 0
}

.mg-t-30 {
    margin-top: 30px
}

.mg-b-10 {
    margin-bottom: 16px
}

.mg-t-15 {
    margin-top: 15px
}

.mg-b-15 {
    margin-bottom: 15px
}

.mt-b-30 {
    margin-bottom: 30px
}

.all-content-wrapper {
    // margin-left: 205px;
    transition: all .3s
}