<div class="dash-home">
    <div class="mg-t-159">
        <app-dash-navbar></app-dash-navbar>
        <div class="all-content-wrapper">
            <div class="container-fluid">
                <div class="row text-center mg-t-30">
                    <div class="col-md-12">
                        <div class="row">
                            <app-dash-card></app-dash-card>
                            <app-dash-card></app-dash-card>
                            <app-dash-card></app-dash-card>
                            <app-dash-card></app-dash-card>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mg-tb-30">
                <div class="container-fluid">
                    <div class="row">
                        <app-dash-table></app-dash-table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>