<div [formGroup]="form">
  <mat-form-field *ngIf="!field.native">
    <mat-select [placeholder]="field.title" [id]="field.id" [formControlName]="field.id">
      <mat-option *ngFor="let option of field.options" [value]="option.value">
        {{option.title || option.value}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <select *ngIf="field.native" matNativeControl [placeholder]="field.title" [id]="field.id" [formControlName]="field.id">
    <option *ngFor="let option of field.options" [value]="option.value">
      {{option.title || option.value}}
    <option>
  </select>
</div>