<div class="app-header-content-parent" fxLayout='row'>
  <div class="left-section">
    <div>
      <img src="./assets/logos/app-logo.png" alt="GSA" />
    </div>
    <div class="site-details">
      <div>
        {{siteGlobals.siteHeading}}
      </div>
      <div>
          <!-- <app-widget-loader [widget]="staticWidgets['SIDEBARMENU'].widgetInfo"></app-widget-loader> -->
          <!-- <mat-nav-list appAccordion>
              <app-menu-item *ngFor="let menuItem of menuData" [actions]="widgetRawData.actions" [menuItem]="menuItem"></app-menu-item>
              <a *ngIf="hasAccess('LOGOUT')" mat-list-item (click)="logout()"> Logout </a>
            </mat-nav-list> -->          
      </div>
      <!-- <div>
         <app-menu-item *ngFor="let menuItem of menuData" [actions]="widgetRawData.actions" [menuItem]="menuItem"></app-menu-item>
      </div> -->
      <div>
        <marquee scrollamount="10" direction="left" behavior="scroll">
          {{siteGlobals.siteNews}}
        </marquee>
      </div>
    </div>
  </div>
 
</div>