<!-- // Header // -->
<div class="header-8">
    <div class="container">
        <!--// NAVIGATION START //-->


        <div class="kode-navigation">
            <ul>
                <li>
                    <!-- <a href="index.html">Home</a> -->
                    <!-- <ul class="children">
                        <li><a href="index.html">Boxed Layout</a></li>
                    </ul> -->
                    <!-- </li> -->
                    <app-menu-item *ngFor="let menuItem of menuData" [actions]="widgetRawData.actions" [menuItem]="menuItem"></app-menu-item>
                </li>
            </ul>
            <!-- <li><a href="team-info.html">Teams</a>
                    <ul class="children">
                        <li><a href="#">Create Team</a></li>
                        <li><a href="#">View Teams</a></li>
                    </ul>
                </li>
                <li><a href="#">Tournaments</a>
                    <ul class="children">
                        <li><a href="#">Post a Tournament</a></li>
                        <li><a href="#">View Tournament</a></li> -->
            <!-- <li><a href="#">Blog Detail</a>
                            <ul class="children">
                                <li><a href="#">Single SoundCloud</a></li>
                                <li><a href="#">Single Video</a></li>
                            </ul>
                        </li> -->
            <!-- </ul>
                </li>
                <li><a href="#">Rankings</a>
                    <ul class="children">
                        <li><a href="#">Pointer Ranking</a></li>
                        <li><a href="#">Power Ranking</a></li> -->
            <!-- <li><a href="#">Full View</a></li>
                        <li><a href="#">Fixture detail</a></li> -->
            <!-- </ul>
                </li>


            </ul> -->
        </div>
        <!--// NAVIGATION END //-->
        <!--// LOGO START //-->
        <div class="logo pull-left">
            <a href="index.html" class="logo"><img src="assets/logos/app-logo.png" alt=""></a>
        </div>
        <!--// LOGO END //-->
        <!--// NAVIGATION START //-->

        <!-- 
        <div class="kode-navigation">
            <ul>
                <li>
                    <a href="#">Directors</a>
                    <ul class="children">
                        <li><a href="team-detail.html">Players</a></li>
                        <li><a href="team-detail.html">Player detail</a></li>
                        <li><a href="team-detail.html">Team Detail</a></li>
                    </ul>
                </li>
                <li><a href="gallery-three.html">Gallery</a>
                    <ul class="children">
                        <li><a href="gallery-three.html">Gallery 2 Column</a></li>
                        <li><a href="gallery-three.html">Gallery 3 Column</a></li>
                        <li><a href="gallery-three.html">Gallery 4 Column</a></li>
                        <li><a href="gallery-three.html">Gallery Full Width</a></li>
                    </ul>
                </li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Contact</a> -->
        <!-- <ul class="children">
                        <li><a href="#">Accordion</a></li>
                        <li><a href="#">Button</a></li>
                        <li><a href="#">Image Frame</a></li>
                        <li><a href="#">List</a></li>
                        <li><a href="#">Map</a></li>
                        <li><a href="#">Message</a></li>
                        <li><a href="#">Separator</a></li>
                        <li><a href="#">Skills</a></li>
                        <li><a href="#">Table</a></li>
                        <li><a href="#">Tabs</a></li>
                        <li><a href="#">Video</a></li>
                    </ul> -->
        <!-- </li> -->
        <!-- <li class="last"><a href="#">contact</a>
                    <ul class="children">
                        <li><a href="contact-us.html">Contact V1</a></li>
                        <li><a href="contact-us.html">Contact V2</a></li>
                    </ul>
                </li> -->
        <!-- </ul>
        </div> -->


        <!--// NAVIGATION END //-->
    </div>
</div>

<!--// Header End //-->