<!--// Wrapper //-->
<div class="kode-wrapper">
    <!-- // Header // -->
    <header id="mainheader" class="kode-header-absolute">

        <!--// TopBaar //-->
        <div class="kode-topbar">
            <div class="container">
                <div class="row">
                    <app-topslider class="col-md-6 kode_bg_white">
                    </app-topslider>
                    <div class="col-md-6">
                        <ul class="kode-userinfo">
                            <li><a href="#"><i class="fa fa-user"></i> My Account</a></li>
                            <li><a href="#" data-toggle="modal" data-target="#myModal"><i class="fa fa-sign-in"></i> Login</a></li>
                            <li><a href="#" data-toggle="modal" data-target="#myModalTwo"><i class="fa fa-user-plus"></i> Register</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!--// TopBaar //-->

        <div class="header-8">
            <div class="container">
                <!--// NAVIGATION START //-->
                <div class="kode-navigation pull-left">
                    <ul>
                        <li><a href="index.html">Home</a>
                            <ul class="children">
                                <li><a href="index.html">Boxed Layout</a></li>
                            </ul>
                        </li>
                        <li><a href="team-info.html">About Us</a></li>
                        <li><a href="#">Blog</a>
                            <ul class="children">
                                <li><a href="#">Blog Large</a></li>
                                <li><a href="#">Blog Grid</a></li>
                                <li><a href="#">Blog Detail</a>
                                    <ul class="children">
                                        <li><a href="#">Single SoundCloud</a></li>
                                        <li><a href="#">Single Video</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li><a href="#">Fixture</a>
                            <ul class="children">
                                <li><a href="#">All Matches</a></li>
                                <li><a href="#">List View</a></li>
                                <li><a href="#">Full View</a></li>
                                <li><a href="#">Fixture detail</a></li>
                            </ul>
                        </li>
                        <li><a href="gallery-three.html">Our Gallery</a>
                            <ul class="children">
                                <li><a href="gallery-three.html">Gallery 2 Column</a></li>
                                <li><a href="gallery-three.html">Gallery 3 Column</a></li>
                                <li><a href="gallery-three.html">Gallery 4 Column</a></li>
                                <li><a href="gallery-three.html">Gallery Full Width</a></li>
                            </ul>
                        </li>

                    </ul>
                </div>
                <!--// NAVIGATION END //-->
                <!--// LOGO START //-->
                <div class="logo">
                    <a href="index.html" class="logo"><img src="assets/logos/app-logo.png" alt=""></a>
                </div>
                <!--// LOGO END //-->
                <!--// NAVIGATION START //-->
                <div class="kode-navigation">
                    <ul>
                        <li>
                            <a href="#">Team & Player</a>
                            <ul class="children">
                                <li><a href="team-detail.html">Players</a></li>
                                <li><a href="team-detail.html">Player detail</a></li>
                                <li><a href="team-detail.html">Team Detail</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Faq</a></li>
                        <li><a href="#">ShortCode</a>
                            <ul class="children">
                                <li><a href="#">Accordion</a></li>
                                <li><a href="#">Button</a></li>
                                <li><a href="#">Image Frame</a></li>
                                <li><a href="#">List</a></li>
                                <li><a href="#">Map</a></li>
                                <li><a href="#">Message</a></li>
                                <li><a href="#">Separator</a></li>
                                <li><a href="#">Skills</a></li>
                                <li><a href="#">Table</a></li>
                                <li><a href="#">Tabs</a></li>
                                <li><a href="#">Video</a></li>
                            </ul>
                        </li>
                        <li class="last"><a href="#">contact</a>
                            <ul class="children">
                                <li><a href="contact-us.html">Contact V1</a></li>
                                <li><a href="contact-us.html">Contact V2</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <!--// NAVIGATION END //-->

            </div>
        </div>
    </header>
    <!--// Header End //-->