<!--// Page Content //-->

<div class="container">
    <div class="row" style="display: inline">
        <div class="col-md-12">
            <div class="kode-partner">
                <ul class="row">
                    <li class="col-md-3">
                        <a href="#"><img src="assets/extra-images/partner-logo2.jpg" alt=""></a>
                    </li>
                    <li class="col-md-3">
                        <a href="#"><img src="assets/extra-images/partner-logo3.jpg" alt=""></a>
                    </li>
                    <li class="col-md-3">
                        <a href="#"><img src="assets/extra-images/partner-logo4.jpg" alt=""></a>
                    </li>
                    <li class="col-md-3">
                        <a href="#"><img src="assets/extra-images/partner-logo5.jpg" alt=""></a>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</div>

<!--// Page Content //-->