<!--// Main Banner //-->
<div id="mainbanner">
    <div class="flexslider">
        <ul class="slides">
            <li>
                <img src="assets/img/img23.jpg" alt="" />
                <div class="container">
                    <div class="kode-caption">
                        <h2>Global Sports Authority</h2>
                        <div class="clearfix"></div>
                        <p>Create your profile, join tournaments & leagues,
                            <br> share photos & videos, participate in discussions
                            <br>and get listed in our advanced team ranking system!</p>
                        <div class="clearfix"></div>
                        <a class="kode-modren-btn thbg-colortwo" href="#">Read More</a>
                    </div>
                </div>
            </li>
            <li>
                <img src="assets/img/img4.jpg" alt="" />
                <div class="container">
                    <div class="kode-caption">
                        <h2>Global Sports Authority</h2>
                        <div class="clearfix"></div>
                        <p>The first social network for <br>Players and Coaches</p>
                        <div class="clearfix"></div>
                        <a class="kode-modren-btn thbg-colortwo" href="#">Read More</a>
                    </div>
                </div>
            </li>
            <li>
                <img src="assets/img/img22.jpg" alt="" />
                <div class="container">
                    <div class="kode-caption">
                        <h2>Global Sports Authority</h2>
                        <div class="clearfix"></div>
                        <p>Create your profile, join tournaments & leagues,
                            <br> share photos & videos, participate in discussions
                            <br>and get listed in our advanced team ranking system!</p>
                        <div class="clearfix"></div>
                        <a class="kode-modren-btn thbg-colortwo" href="#">Read More</a>
                    </div>
                </div>
            </li>
            <li>
                <img src="assets/img/img5.jpg" alt="" />
                <div class="container">
                    <div class="kode-caption">
                        <h2>Global Sports Authority</h2>
                        <div class="clearfix"></div>
                        <p>The first social network for <br>Players and Coaches</p>
                        <div class="clearfix"></div>
                        <a class="kode-modren-btn thbg-colortwo" href="#">Read More</a>
                    </div>
                </div>
            </li>
            <li>
                <img src="assets/img/img17.jpg" alt="" />
                <div class="container">
                    <div class="kode-caption">
                        <h2>Global Sports Authority</h2>
                        <div class="clearfix"></div>
                        <p>Create your profile, join tournaments & leagues,
                            <br> share photos & videos, participate in discussions
                            <br>and get listed in our advanced team ranking system!</p>
                        <div class="clearfix"></div>
                        <a class="kode-modren-btn thbg-colortwo" href="#">Read More</a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
<!--// Main Banner //-->