.tableheading {
    background-color: #000080;
    height: 40px;
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 130%;
}

.table {
    // margin-bottom: 20px;
    margin-top: 20px;
}

.smallbuttontext {
    display: block;
    border: 1px solid #a10101 !important;
    float: left !important;
    height: 24px !important;
    line-height: 18px;
    color: #fff;
    background: transparent url(http://gsateams.com/templates/gk_sporter/images/style1/btn.png) repeat-x 0 0 !important;
    padding: 0 10px !important;
    margin: 0!important;
    border-radius: 3px;
}

.btntd {
    width: 30%;
}

.nologindirector {
    // width: 35%;
}

.text_center {
    text-align: center;
    padding: 5px;
    color: #a10101 !important;
}

.waitingListRow {
    background-color: #3399ff;
    height: 35px;
    text-align: center;
    font-weight: bold;
    font-size: 120%;
}