.tableheading{
    background-color: #000080;
    height: 20px;
    color: white;
    font-weight: 200;
    text-align: center
}
.table{
    margin-bottom: 20px;
    margin-top: 20px;
}
.smallbuttontext{
    display: block;
    border: 1px solid #a10101 !important;
    float: left !important;
    height: 24px !important;
    line-height: 18px;
    color: #fff;
    background: transparent url(http://gsateams.com/templates/gk_sporter/images/style1/btn.png) repeat-x 0 0 !important;
    padding: 0 10px !important;
    margin: 0!important;
}