<ng-container [ngSwitch]="menuItem.type">
  <a *ngSwitchCase="'group'" mat-list-item [ngStyle]="{'padding-left': (depth * 12) + 'px'}" (click)="onItemSelected(menuItem)"
    class="menu-list-item">
    {{menuItem.title}}
    <span fxFlex *ngIf="menuItem.children && menuItem.children.length">
      <span fxFlex></span>
      <mat-icon [@indicatorRotate]="expanded ? 'expanded': 'collapsed'">
        expand_more
      </mat-icon>
    </span>
    <div class="tool-bar">
     <!-- <ng-container *ngFor="let actionItem of actions">
        <span action-executor [dataItem]="menuItem" [actionInfo]="actionItem" [parameterValueProvider]="getParamValues.bind(this)"
          *ngIf="hasAccess(actionItem.metaInfo.purpose)" (click)="handleEditRequest($event)">
          <ng-container [ngSwitch]="actionItem.metaInfo.context">
            <mat-icon *ngSwitchCase="'edit'">edit</mat-icon>
            <mat-icon *ngSwitchCase="'delete'">close</mat-icon>
          </ng-container>
        </span>
      </ng-container>-->
    </div>
  </a>
  <a *ngSwitchCase="'appLink'" mat-list-item [routerLink]="[menuItem.link]" routerLinkActive="active"
    [routerLinkActiveOptions]="{exact: true}">
    {{menuItem.title}}
  </a>
  <a mat-list-item *ngSwitchCase="'appContent'" [routerLink]="['/content/'+menuItem.title]" routerLinkActive="active"
    [routerLinkActiveOptions]="{exact: true}">
    <span>{{menuItem.title}}</span>
    <div class="tool-bar">
      <ng-container *ngFor="let actionItem of actions">
        <!-- <span action-executor [dataItem]="menuItem" [actionInfo]="actionItem" [parameterValueProvider]="getParamValues.bind(this)"
          *ngIf="hasAccess(actionItem.metaInfo.purpose)" (click)="handleEditRequest($event)"> -->
          <span *ngIf="hasAccess(actionItem.metaInfo.purpose)" (click)="handleEditRequest($event)">
          <ng-container [ngSwitch]="actionItem.metaInfo.context">
            <mat-icon *ngSwitchCase="'edit'">edit</mat-icon>
            <mat-icon *ngSwitchCase="'delete'">close</mat-icon>
          </ng-container>
        </span>
      </ng-container>
    </div>
  </a>
</ng-container>
<div *ngIf="expanded">
  <app-menu-item *ngFor="let child of menuItem.children" [actions]="actions" [menuItem]="child" [depth]="depth+1">
  </app-menu-item>
</div>