.dash-card-ctn {
    padding: 20px;
    min-height: 150px;
    background: linear-gradient(110deg, #9c1c0d 0px, #01235e 100%);
}

.dash-card-ctn h4 {
    font-size: 20px;
    color: #fff;
    padding-bottom: 10px;
    text-transform: capitalize
}

.card-link a {
    font-size: 14px;
    color: #fff;
    cursor: pointer;
}