<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
    <div class="dash-card-ctn">
        <h4 class="text-uppercase"><b>Tournaments</b></h4>
        <div class="row vertical-center-box vertical-center-box-tablet">
            <div class="col-xs-12 card-link text-left">

                <div *ngIf="adminLinks">
                    <a class="card-link">
                        <plain-text-input action-executor [parameterValueProvider]="getUserRelatedParameters.bind(this)" [field]="adminLinks">
                        </plain-text-input>
                    </a>
                </div>

            </div>
        </div>
    </div>
</div>