.center-align-content {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.margin-widget {
    .card {
        padding: 0px !important;
        border-radius: 8px !important;
        margin: 10px !important;
        .card-title {
            padding: 10px !important;
            border-bottom: 1px solid #CCC;
        }
        .card-content {
            padding: 0 20px 20px 20px !important;
        }
    }
}

.app-login {
    // display: inline-block;
    width: 400px;
    margin: auto;
    // position: relative;
    // z-index: 1;
    // max-width: 360px;
    // margin: 0 auto 100px;
    // padding: 45px;
}


/*-------------- override for form field inside .header title-----------*/

.content-in-header {
    .app-widget-header-content {
        margin-left: auto;
    }
}

.app-widget-header {
    text-align: left;
    text-transform: uppercase;
    background-color: #c2261c;
    color: #ffffff;
    min-height: 16.42857143px;
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
}

.card-content {
    // min-height: 100px;
    // position: relative;
    display: inline-block;
    padding: 20px 28px 4px;
    width: 100%;
    // border: 1px solid #f1f1f1;
    .loader-container {
        position: absolute;
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    p {
        display: inline-block;
        width: 100%;
    }
    p>span {
        color: #333333;
        display: block;
        font-size: 14px;
        font-weight: bold;
        margin-bottom: 6px;
    }
}

.user-about-widget {
    .card {
        box-shadow: none !important;
        min-height: 220px;
        border: none !important;
        font-size: 20px !important;
        margin-top: 2px !important;
    }
}