.center-align-content {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.margin-widget {
    .card {
        padding: 0px !important;
        border-radius: 8px !important;
        margin: 10px !important;
        .card-title {
            padding: 10px !important;
            border-bottom: 1px solid #CCC;
        }
        .card-content {
            padding: 0 20px 20px 20px !important;
        }
    }
}

.app-login {
    position: relative;
    z-index: 1;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
}


/*-------------- override for form field inside .header title-----------*/

.content-in-header {
    .app-widget-header-content {
        margin-left: auto;
    }
}

.app-widget-header {
    text-align: left;
}

.card-content {
    min-height: 100px;
    position: relative;
    .loader-container {
        position: absolute;
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.user-about-widget {
    .card {
        box-shadow: none !important;
        min-height: 220px;
        border: none !important;
        font-size: 20px !important;
        margin-top: 2px !important;
    }
}