<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
    <div class="dash-table-container">
        <div class="dash-table-title">
            <div class="pro-sl-hd">
                <span><b>My Tournaments</b></span>
            </div>
        </div>
        <table class="kode-table">
            <thead>
                <tr>
                    <th>Upcoming Match</th>
                    <th>Date</th>
                    <th>Venue</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>City Club <span>VS</span>Soccer Queen</td>
                    <td>18/05/2015 14:30 - 16:00</td>
                    <td>Wembley Stadium</td>
                </tr>
                <tr>
                    <td>City Club <span>VS</span>Soccer Queen</td>
                    <td>18/05/2015 14:30 - 16:00</td>
                    <td>Wembley Stadium</td>
                </tr>
                <tr>
                    <td>City Club <span>VS</span>Soccer Queen</td>
                    <td>18/05/2015 14:30 - 16:00</td>
                    <td>Wembley Stadium</td>
                </tr>
                <tr>
                    <td>City Club <span>VS</span>Soccer Queen</td>
                    <td>18/05/2015 14:30 - 16:00</td>
                    <td>Wembley Stadium</td>
                </tr>
                <tr>
                    <td>City Club <span>VS</span>Soccer Queen</td>
                    <td>18/05/2015 14:30 - 16:00</td>
                    <td>Wembley Stadium</td>
                </tr>
                <tr>
                    <td>City Club <span>VS</span>Soccer Queen</td>
                    <td>18/05/2015 14:30 - 16:00</td>
                    <td>Wembley Stadium</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>