<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="dash-table-container">
        <div class="dash-table-title">
            <div class="pro-sl-hd">
                <span><b>My Teams</b></span>
            </div>
        </div>
        <app-widget-loader [widget]="teamTableWidget"></app-widget-loader>
    </div>
</div>

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="dash-table-container">
        <div class="dash-table-title">
            <div class="pro-sl-hd">
                <span><b>My Tournaments</b></span>
            </div>
        </div>
        <app-widget-loader [widget]="teamTableWidget"></app-widget-loader>
    </div>
</div>