.dash-table-container {
    padding: 20px;
    background: #1b2a47
}

.dash-table-title {
    margin-bottom: 20px
}

.pro-sl-hd span {
    font-size: 20px;
    color: #fff;
    text-transform: capitalize
}