@import './styles/_variables';

html,
body {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.app-parent {
    height: 100%;

    .app-header-parent {
        width: 100%;

        .app-header-container {
            width: 100%;
        }
    }

    .app-content-wrapper {
        height: calc(100% - #{$HEADER_HEIGHT});
        overflow: auto;
        position: relative;

        .app-sidenav-wrapper {
            position: absolute !important;
            width: $SIDE_BAR_WIDTH;
            border: 0;
        }

        .app-content-parent {
            height: 100%;
            display: flex;
            flex-direction: column;
            .app-footer-parent {
                width: 100%;
                height: $FOOTER_HEIGHT;
                border-top: 1px solid $COMMON_BORDER_COLOR;
                margin-top: auto;
            }      
            
        }

        mat-sidenav-container {
            height: 100%;
        }
    }

    .app-settings {
        top: auto;
        right: 20px;
        bottom: 1rem;
        left: auto;
        position: fixed;
        z-index: 2;
        cursor: pointer;
    }
}