<div [formGroup]="form">

  <!-- <mat-form-field appearance="outline">
    <input type="text" app [placeholder]="field.title" matInput [formControlName]="field.id" [matAutocomplete]="auto">
    <mat-autocomplete   #auto="matAutocomplete" [displayWith]="displayFn" >
      <mat-option *ngFor="let option of filteredOptions | async" [value]="field.sameIdTitle?option.value:option">
        {{option.title || option.value}}
      </mat-option>
    </mat-autocomplete >
  </mat-form-field> -->

  
  <select [formControlName]="field.id" >
      <option *ngFor="let option of filteredOptions" [value]="field.value">
          {{option.title || option.value}}
      <option>
  </select>

</div>