<div class="app-header-content-parent" fxLayout='row'>
  <div class="left-section">
    <div>
      <img src="./assets/logos/app-logo.png" alt="GSA" />
    </div>
    <div class="site-details">
      <div>
        {{siteGlobals.siteHeading}}
      </div>
      <div>
        <marquee scrollamount="10" direction="left" behavior="scroll">
          {{siteGlobals.siteNews}}
        </marquee>
      </div>
    </div>
  </div>
  <div class="right-section">
    <div class="right-section-content">

      <div *ngIf="currentUserValue" class="right-section-logged-in">
        <mat-menu #appMenu="matMenu">
          <div mat-menu-item [routerLink]="'./user-profile/'+currentUserValue.userId" routerLinkActive="active"
            [routerLinkActiveOptions]="{exact: true}">
            <i class="material-icons">
              <!----face-->
              perm_identity
            </i>
                       My Profile</div>

          <div mat-menu-item (click)="globals.logout()">
            <i class="material-icons">
              power_settings_new
            </i>
            Logout</div>
        </mat-menu>
        <div mat-icon-button [matMenuTriggerFor]="appMenu" class="user-menu-center">
          <span>Hi {{currentUserValue.userName}}</span>
          <mat-icon [@indicatorRotate]='expanded'>
            expand_more
          </mat-icon>
        </div>
      </div>
      <div *ngIf="!currentUserValue" class="right-section-no-login">
        <!-- <label>Welcome Guest</label>
        <app-widget-toggle [settings]="loginWidget">
          <div class="action-object">
            <label>Login</label>
          </div>
        </app-widget-toggle> -->
        <a mat-list-item class="child-links" [routerLink]="'./login'" routerLinkActive="active"
          [routerLinkActiveOptions]="{exact: true}">
          Login
        </a>
        <!-- <a (click)="navigateTest()"></a> -->
        <a mat-list-item class="child-links" [routerLink]="'./register'" routerLinkActive="active"
          [routerLinkActiveOptions]="{exact: true}">
          Create an Account
        </a>
      </div>
    </div>
  </div>
</div>