<div [formGroup]="form">
  <mat-form-field>
    <input matInput [readOnly]="field.disable?'readOnly':''" [placeholder]="field.title" *ngIf="!field.multiline" [attr.type]="field.type" class="form-control"
      [id]="field.id" [name]="field.id" [formControlName]="field.id">
    <textarea matInput [placeholder]="field.title" *ngIf="field.multiline" [class.is-invalid]="isDirty && !isValid"
      [formControlName]="field.id" [id]="field.id" rows="9" class="form-control" [placeholder]="field.placeholder"></textarea>
  </mat-form-field>
</div>