.app-search-form {
    display: flex;
    align-items: center;
    .mat-form-field-wrapper {
        padding-bottom: 0;
    }
}

.form-row-layout{
    display: flex;
    flex-direction: column;
    .form-fields-row{
        display: flex;
    }
}

.row-item-primary{
    width: 60%;
    display: inline-block;
}

.row-item-secondary{
    width: 20%;
    display: inline-block;
}
.buttonPannel{
    display: flex;
    align-items: center;
}

// tournament heading 
.addTournamentHeading{
    padding: 5px;
    margin-top: 10px;
    background: #dedede;
    padding-left: 20px;
    width: 100%;
    margin-bottom: 10px;
}

  // tournament success page style 
  // static-widget-info.ts 

.heading-font{
    color: navy;
    font-family: Arial,sans-serif;
    font-size: 16pt;
    font-weight: 600;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 30px;
  }
.linktext-font{
    color: #3399FF !important;
    text-decoration: none;
    font-weight: normal;
    text-align: center;
    font-size: 12pt;
    margin-bottom: 20px;
}

.form-margin-horizontal
{
    margin-right: 30px !important;    
}