<!-- <div *ngIf="galleryImages">
  <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
</div> -->

<div class="kode-pagecontent col-md-12">
    <div class="kode-gallery">
        <ul class="row">
            <li class="col-md-4">
                <figure>
                    <a href="#"><img src="assets/extra-images/gallery-list-1.jpg" alt=""></a>
                    <figcaption><a href="#" class="kode-gallery-hover thbg-color"><i class="fa fa-plus"></i></a></figcaption>
                </figure>

            </li>
            <li class="col-md-4">
                <figure>
                    <a href="#"><img src="assets/extra-images/gallery-list-2.jpg" alt=""></a>
                    <figcaption><a href="#" class="kode-gallery-hover thbg-color"><i class="fa fa-plus"></i></a></figcaption>
                </figure>

            </li>
            <li class="col-md-4">
                <figure>
                    <a href="#"><img src="assets/extra-images/gallery-list-3.jpg" alt=""></a>
                    <figcaption><a href="#" class="kode-gallery-hover thbg-color"><i class="fa fa-plus"></i></a></figcaption>
                </figure>

            </li>
            <li class="col-md-4">
                <figure>
                    <a href="#"><img src="assets/extra-images/gallery-list-4.jpg" alt=""></a>
                    <figcaption><a href="#" class="kode-gallery-hover thbg-color"><i class="fa fa-plus"></i></a></figcaption>
                </figure>

            </li>
            <li class="col-md-4">
                <figure>
                    <a href="#"><img src="assets/extra-images/gallery-list-5.jpg" alt=""></a>
                    <figcaption><a href="#" class="kode-gallery-hover thbg-color"><i class="fa fa-plus"></i></a></figcaption>
                </figure>

            </li>
            <li class="col-md-4">
                <figure>
                    <a href="#"><img src="assets/extra-images/gallery-list-6.jpg" alt=""></a>
                    <figcaption><a href="#" class="kode-gallery-hover thbg-color"><i class="fa fa-plus"></i></a></figcaption>
                </figure>

            </li>
        </ul>
        <!--// Pagination //-->
        <div class="pagination">
            <a href="#"><i class="fa fa-angle-double-left"></i></a>
            <a href="#">1</a>
            <a href="#">2</a>
            <span>3</span>
            <a href="#">4</a>
            <a href="#"><i class="fa fa-angle-double-right"></i></a>
        </div>
        <!--// Pagination //-->
    </div>

</div>