<!--// TopBaar //-->
<div class="kode-topbar">
    <div class="container">
        <div class="row">
            <app-topslider class="col-md-6 kode_bg_white">
            </app-topslider>
            <!-- <app-widget-loader [widget]="multisiteSelect"></app-widget-loader> -->
            <div class="col-md-6">
                <ul class="kode-userinfo">
                    <li><a *ngIf="hasAccess('LOGOUT')" href="#"><i class="fa fa-user"></i> My Account</a></li>
                    <li><a href="#" *ngIf="!hasAccess('LOGOUT')" data-toggle="modal" data-target="#Login"><i class="fa fa-sign-in"></i> Login</a>
                    </li>
                    <li><a href="#" *ngIf="hasAccess('LOGOUT')" (click)="logout()"><i class="fa fa-sign-out"></i> Logout</a></li>
                    <li><a href="#" *ngIf="!hasAccess('LOGOUT')" data-toggle="modal" data-target="#Register"><i
                    class="fa fa-user-plus"></i> Register</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!--// TopBaar //-->