<!--// TopBaar //-->
<div class="kode-topbar">
    <div class="container">
        <div class="row">
            <app-topslider class="col-md-6 kode_bg_white">
            </app-topslider>
            <div class="col-md-6">
                <ul class="kode-userinfo">
                    <li><a *ngIf="hasAccess('LOGOUT')" href="#"><i class="fa fa-user"></i> My Account</a></li>
                    <li><a href="#" *ngIf="!hasAccess('LOGOUT')" data-toggle="modal" data-target="#myModal"><i class="fa fa-sign-in"></i> Login</a>
                    </li>
                    <li><a href="#" *ngIf="hasAccess('LOGOUT')" (click)="logout()"><i class="fa fa-sign-out"></i> Logout</a></li>
                    <li><a href="#" *ngIf="!hasAccess('LOGOUT')" data-toggle="modal" data-target="#myModalTwo"><i
                    class="fa fa-user-plus"></i> Register</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!--// TopBaar //-->



<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header thbg-color">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Login To Your Account</h4>
            </div>
            <div class="modal-body">
                <form class="kode-loginform">
                    <p><span>User Name</span> <input type="text" placeholder="User Name"></p>
                    <p><span>Password</span> <input type="password" placeholder="Password"></p>
                    <p><label><input type="checkbox"><span>Remember Me</span></label></p>
                    <p class="kode-submit"><a href="#">Lost Your Password</a> <input class="thbg-colortwo" type="submit" value="Sign in"></p>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="myModalTwo" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header thbg-color">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Register</h4>
            </div>
            <div class="modal-body">
                <form class="kode-loginform">
                    <p><span>Email</span> <input type="text" placeholder="Email"></p>
                    <p><span>Password</span> <input type="password" placeholder="Password"></p>
                    <p><span>Retype Password</span> <input type="password" placeholder="Retype Password"></p>
                    <p><label><input type="checkbox"><span>Remember Me</span></label></p>
                    <p class="kode-submit"><a href="#">Lost Your Password</a> <input class="thbg-colortwo" type="submit" value="Sign Up"></p>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->