.team-roster-image {
    max-width: 300px;
    max-height: 300px;
}

.datatable-icon-left {
    content: fa-var-chevron-left;
}

a.tableContent:hover,
a.tableContent:active {
    font-size: 115%;
}

a {
    color: #ffff !important;
    text-decoration: none;
}