<!-- <button [routerLink]="['/',{ outlets: { genericFlow: ['register-tournament'] } }]">Register</button> -->
<!-- <ng2-smart-table *ngIf="rows" [settings]="settings" [source]="rows"></ng2-smart-table> -->

<ng-container *ngIf="rows">


    <ngx-datatable *ngIf="isPaging" class="material" [rows]="rows" [columns]="columns" [headerHeight]="50"
        [footerHeight]="50" [rowHeight]="'auto'" columnMode="force" [externalPaging]="true" [count]="pagingInfo.total"
        [offset]="pagingInfo.offset" [limit]="pagingInfo.limit" (page)='setPage($event)'>
        <ng-container *ngFor="let col of columns">
            <ngx-datatable-column *ngIf="col.isVisible" [width]="col.width" [prop]="col.prop">
                <ng-container>
                    <ng-template let-column="column" ngx-datatable-header-template>
                        <span> {{col.title}}
                        </span>
                    </ng-template>

                    <!-- <ng-container *ngSwitchCase="'actionColumnTitle'">
                                    <a href="javascript:void(0)" (click)="performActionFromTable(col.actionInfo,row)">
                                         {{getCellValue(col,value)}}
                                    </a>                                        
                            </ng-container> -->

                    <div class="borderClass">

                        <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>

                            <ng-container [ngSwitch]="col.type">

                                <ng-container *ngSwitchCase="'selector'">
                                    <input type="checkbox">
                                </ng-container>
                                <ng-container *ngSwitchCase="'rosterImage'">
                                    <img [src]="getRosterImageURL(col,value,row)" />
                                </ng-container>

                                <ng-container *ngSwitchCase="'actionColumn'">
                                    <a href="javascript:void(0)" (click)="performActionFromTable(col.actionInfo,row)">
                                        {{getCellValue(col,value)}}
                                    </a>
                                </ng-container>

                                <ng-container *ngSwitchCase="'actionColumnTitle'">
                                    <a href="javascript:void(0)" (click)="performActionFromTable(col.actionInfo,row)">
                                        {{getCellValue(col,value)}}
                                    </a>
                                </ng-container>


                                <ng-container *ngSwitchCase="'visibleAction'">
                                    <a href="javascript:void(0)" mat-button-raised
                                        (click)="performActionFromTable(col.actionInfo,row)">
                                        {{getCellValue(col,value)}}
                                    </a>
                                </ng-container>
                                <ng-container *ngSwitchDefault>
                                    <span>{{getCellValue(col,value)}}</span>
                                </ng-container>
                            </ng-container>

                        </ng-template>
                    </div>
                </ng-container>
            </ngx-datatable-column>
        </ng-container>
    </ngx-datatable>

    <ngx-datatable *ngIf="!isPaging" class="material" [rows]="rows" [columns]="columns" [headerHeight]="50"
        [footerHeight]="50" [rowHeight]="'auto'" columnMode="force">
        <ng-container *ngFor="let col of columns">
            <ngx-datatable-column [width]="col.width" [prop]="col.prop" *ngIf="col.isVisible">
                <ng-container>
                    <ng-template let-column="column" ngx-datatable-header-template>
                        <span> {{col.title}}
                        </span>
                    </ng-template>
                    <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                        <ng-container [ngSwitch]="col.type">
                            <ng-container *ngSwitchCase="'rosterImage'">
                                <img class="team-roster-image" [src]="getRosterImageURL(col,value,row)" />
                            </ng-container>
                            <ng-container *ngSwitchCase="'actionColumn'">
                                <a href="javascript:void(0)" (click)="performActionFromTable(col.actionInfo,row)">
                                    {{getCellValue(col,value)}}
                                </a>
                            </ng-container>
                            <ng-container *ngSwitchCase="'visibleAction'">
                                <a href="javascript:void(0)" mat-button-raised
                                    (click)="performActionFromTable(col.actionInfo,row)">
                                    {{getCellValue(col,value)}}
                                </a>
                            </ng-container>
                            <ng-container *ngSwitchDefault>
                                <span>{{getCellValue(col,value)}}</span>
                            </ng-container>
                        </ng-container>
                    </ng-template>
                </ng-container>
            </ngx-datatable-column>
        </ng-container>
    </ngx-datatable>

</ng-container>