.left-sidebar-pro {
    // z-index: 9999;
    width: 240px
}

#sidebar {
    position: relative;
    min-width: 205px;
    min-height: 500px;
    background: linear-gradient(110deg, #9c1c0d 0px, #01235e 100%);
    color: #fff;
    // position: fixed;
    transition: all .3s;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.3);
    // z-index: 999;
    // height: 100%
}

// #sidebar .sidebar-header {
//     padding: 1px 0;
//     position: relative;
//     z-index: 99999;
//     background: #1b2a47
// }
// #sidebar .sidebar-header strong {
//     display: none;
//     font-size: 1.8em
// }
.dash-profile {
    padding: 20px;
    // position: relative;
    z-index: 99999;
    background: #1b2a47
}

.profile-dtl {
    text-align: center
}

.profile-dtl img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border: 2px solid #152036
}

.profile-dtl h2 {
    font-size: 16px;
    color: #fff;
    font-weight: 400;
    margin: 10px 0 15px
}