<div class="left-sidebar-pro mg-t-159">
    <nav id="sidebar" class="">
        <!-- <div class="sidebar-header">
            <a href="#"><img class="main-logo" src="assets/logos/app-logo.png" alt=""></a> -->
        <!-- <strong><img src="./Dashboard_files/logosn.webp" alt=""></strong> -->
        <!-- </div> -->
        <div class="dash-profile">
            <div class="profile-dtl">
                <a href="##"><img src="assets/extra-images/admin-1.jpg" alt=""></a>
                <h2>Nayan Mahajan</h2>
            </div>
        </div>
        <!-- <div class="left-custom-menu-adp-wrap">
            <nav class="sidebar-nav left-sidebar-menu-pro">
            </nav>
        </div> -->
    </nav>
</div>