<!--// Page Content //-->
<section class="kode-pagesection kode-next-match-stat">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="heading heading-12 margin-top30-bottom10">
                    <p>Is Your Team Ready For Next Match!</p>
                    <h2><span class="left"></span>Match Of The Month<span class="right"></span></h2>
                </div>
            </div>
            <app-table></app-table>
            <div class="col-md-8">
                <div class="kode-inner-fixer">
                    <div class="kode-team-match">
                        <ul>
                            <li>
                                <a href="#"><img src="assets/extra-images/fixer-logo1.png" alt=""></a>
                            </li>
                            <li class="home-kode-vs"><a href="#" class="kode-modren-btn thbg-colortwo">vs</a></li>
                            <li>
                                <a href="#"><img src="assets/extra-images/fixer-logo2.png" alt=""></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                        <h3>Necca VS Hearld United</h3>
                        <span class="kode-subtitle">Match Between Both Big Teams Starts <br />18, 2015 14:30 - 16:00 CAMBRIDGESHIRE-UK</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--// Page Content //-->