<!--// Page Content //-->
<section class="kode-pagesection kode-next-match-stat">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="heading heading-12 margin-top30-bottom10">
                    <p>Is Your Team Ready For Next Match!</p>
                    <h2><span class="left"></span>Recent Tournaments<span class="right"></span></h2>
                </div>
            </div>
            <app-table></app-table>
            <div class="col-md-8">
                <div class="kode-inner-fixer">
                    <div class="kode-team-match">
                        <!-- <ul>
                            <li>
                                <a href="#"><img src="assets/extra-images/fixer-logo1.png" alt=""></a>
                            </li>
                            <li class="home-kode-vs"><a href="#" class="kode-modren-btn thbg-colortwo">vs</a></li>
                            <li>
                                <a href="#"><img src="assets/extra-images/fixer-logo2.png" alt=""></a>
                            </li>
                        </ul> -->
                        <div class="clearfix"></div>
                        <h3>2019 GSA "BACK TO SCHOOL BLAST OFF"</h3>
                        <span class="kode-subtitle">From July-27	-To- July-27<br/> Hurt Road-990 Hurt Road Austell Georgia , 30106</span>
                        <hr>
                        <div class="clearfix"></div>
                        <h3>2019 GSA "HOW HOT CAN IT GET"</h3>
                        <span class="kode-subtitle">From July-13	-To- July-13<br/>McCurry Park-185 McDonough Rd. Fayettville Georgia , 30215</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--// Page Content //-->