<!--// Mini-Web-Header //-->
<div class="mini-web-subheader mini-web-subheader-height">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="img-mini-web-header">
                    <a href="#"><img src="assets/extra-images/admin-1.jpg" alt="" style="border-radius: 50%"></a>
                </div>
                <div style="display: inline">
                    <app-topslider class="kode_bg_white">
                    </app-topslider>
                </div>
            </div>
            <div class="col-md-6">
                <div class="kode-breadcrumb">
                    <h1 style="color:white">Welcome to GSA Multisite</h1>

                </div>
                <!-- <ul class="kode-breadcrumb">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Contact Us</a></li>
                </ul> -->
                <!-- </div> -->
            </div>
        </div>
    </div>
    <!--// Mini-Web-Header //-->