<!--// Mini-Web-Header //-->
<div class="mini-web-subheader mini-web-subheader-height">
    <div class="container">
        <div class="row">
            <div class="mini-web-header">
                <div class="col-md-6">
                    <div class="img-mini-web"> <img src="assets/extra-images/wyane2.jpg" alt="" style="border-radius: 50%;"></div>
                    <div class="mini-web-user-detail">
                        <h1 style="color:white">Wayne Roberts</h1>
                        Georgia, Baseball Boys
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mini-web-welcome">
                        <h1 style="color:white">Welcome to GSA</h1>
                        <h3 style="color:white">Baseball Boys</h3>
                    </div>
                </div>
            </div>

            <div style="display: inline; color: white;">
                <marquee behavior="scroll" direction="left" onmouseover="this.stop();" onmouseout="this.start();"><strong style="color:white">Latest News : </strong>Hello! Welcome to Global Sports Authority.....!!!!!</marquee>
            </div>
        </div>
    </div>
</div>
<!--// Mini-Web-Header //-->