/* You can add global styles to this file, and also import other style files */

// @import '@angular/material/prebuilt-themes/deeppurple-amber.css';
.flex-center {
    display: flex;
    align-items: center;
}
a {
  color: #002f67 !important;
}

// login form by email for no login user
.login_heading
{
  color: red;
  text-align: center;
  font-size: 22px;
  margin-bottom: 40px;
}

.login_form
{
  text-align: center;
}
.create_team_subheading
{
  color: red;
}

.datatable-row-center {
    border-bottom: 1px solid #35353533;
  }

  // tournament success page style 
  // static-widget-info.ts 

.heading-font{
    color: navy;
    font-family: Arial,sans-serif;
    font-size: 16pt;
    font-weight: 600;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 30px;
  }
.linktext-font{
    color: #3399FF !important;
    text-decoration: none;
    font-weight: normal;
    text-align: center;
    font-size: 12pt;
    margin-bottom: 20px;
}