/* You can add global styles to this file, and also import other style files */

// @import '@angular/material/prebuilt-themes/deeppurple-amber.css';
.flex-center {
    display: flex;
    align-items: center;
}
a {
  color: #002f67 !important;
}

.datatable-row-center {
    border-bottom: 1px solid #35353533;
  }
