<div>
    <ul class="top_slider_bxslider">
        <li class="slides">
            <span class="kode-barinfo"><strong>Latest News : </strong> Lorem ipsum dolor sit amet, cons ecte tuer adipiscing elit,</span>
        </li>
        <li class="slides">
            <span class="kode-barinfo"><strong>Latest News : </strong> Global Sports Authority</span>
        </li>
        <li class="slides">
            <span class="kode-barinfo"><strong>Latest News : </strong> Welcome visitor you can Login or Create an
        Account</span>
        </li>
    </ul>
</div>