<section class="kode-pagesection kode-sport-section kode-parallax">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="heading heading-12 margin-top5-bottom10-flat">

                </div>
            </div>
        </div>
    </div>
</section>
<!--// Page Content //-->

<div class="kd-pagesection project_fact_inline">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <!--// Counter Section //-->
                <div class="kd-counter">
                    <ul class="row">
                        <li class="col-md-3">
                            <i class="fa fa-trophy fa-3x"></i>
                            <span class="word-count">586</span>
                            <small>Tournaments</small>
                        </li>
                        <li class="col-md-3">
                            <i class="fa fa-users fa-3x"></i>
                            <span class="word-count">20665</span>
                            <small>Teams</small>
                        </li>
                        <li class="col-md-3">
                            <i class="fa fa-soccer-ball-o fa-3x"></i>
                            <span class="word-count">10</span>
                            <small>Directors</small>
                        </li>
                        <li class="col-md-3">
                            <i class="fa fa-flag fa-3x"></i>
                            <span class="word-count">35457</span>
                            <small>Users</small>
                        </li>
                    </ul>
                </div>
                <!--// Counter Section //-->
            </div>
        </div>
    </div>
</div>

<!--// Page Content //-->