<div class="col-md-4">

    <table class="kode-table kode-table-v2">
        <thead>
            <tr>
                <th>Team</th>
                <th>w</th>
                <th>d</th>
                <th>l</th>
                <th>pts</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Bandit All Stars</td>
                <td>04</td>
                <td>00</td>
                <td>01</td>
                <td>551</td>
            </tr>
            <tr>
                <td>Benchwarmers</td>
                <td>03</td>
                <td>00</td>
                <td>01</td>
                <td>539</td>
            </tr>
            <tr>
                <td>Tornadoes</td>
                <td>01</td>
                <td>05</td>
                <td>01</td>
                <td>474</td>
            </tr>
            <tr>
                <td>Club Hustle</td>
                <td>01</td>
                <td>11</td>
                <td>00</td>
                <td>405</td>
            </tr>
            <tr>
                <td>Ga Assassins</td>
                <td>05</td>
                <td>12</td>
                <td>00</td>
                <td>449</td>
            </tr>
            <tr>
                <td>Team Fury</td>
                <td>10</td>
                <td>13</td>
                <td>00</td>
                <td>520</td>
            </tr>

            <tr>
                <td>BombShells</td>
                <td>14</td>
                <td>02</td>
                <td>00</td>
                <td>521</td>
            </tr>
        </tbody>
    </table>

</div>