<div class="col-md-4">

    <table class="kode-table kode-table-v2">
        <thead>
            <tr>
                <th>Team</th>
                <th>w</th>
                <th>d</th>
                <th>l</th>
                <th>pts</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Chelsea</td>
                <td>11</td>
                <td>02</td>
                <td>00</td>
                <td>42</td>
            </tr>
            <tr>
                <td>Aresenal</td>
                <td>11</td>
                <td>02</td>
                <td>00</td>
                <td>42</td>
            </tr>
            <tr>
                <td>Real Soccer</td>
                <td>11</td>
                <td>02</td>
                <td>00</td>
                <td>42</td>
            </tr>
            <tr>
                <td>Real Madrid</td>
                <td>11</td>
                <td>02</td>
                <td>00</td>
                <td>42</td>
            </tr>
            <tr>
                <td>City Club</td>
                <td>11</td>
                <td>02</td>
                <td>00</td>
                <td>42</td>
            </tr>
            <tr>
                <td>Aresenal</td>
                <td>11</td>
                <td>02</td>
                <td>00</td>
                <td>42</td>
            </tr>

            <tr>
                <td>Real Madrid</td>
                <td>11</td>
                <td>02</td>
                <td>00</td>
                <td>42</td>
            </tr>
        </tbody>
    </table>

</div>